body {
  font-size: 50px;
}

#div-1 {
  background: firebrick;
}

#span-1 {
  background: khaki;
  /* width: 300px; */
  /* height: 300px; */
  /* display: none; */
}

#button-1 {
  background: plum;
  font-size: 30px;
  /* width: 300px; */
  /* height: 300px; */
}

#a-1 {
  background: seagreen;
  color: black;
}

#div-2 {
  background: royalblue;
  /* display: inline; */
}
